<!--<div class="flex items-center justify-center py-36 px-12">
    <div class="w-full max-w-lg p-8 bg-white rounded-md shadow-md">
        <h2 class="text-2xl font-semibold text-gray-700 mb-2">Password Recovery</h2>
        <p class="text-gray-500 mb-6">Enter your email to receive a password reset link.</p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <label for="email" class="block text-gray-700 mb-2">Email</label>
                <input type="email" id="email" placeholder="Enter your email address" class="block w-full rounded-md border-0 p-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6" required>
            </div>
            <button
                type="submit"
                class="rounded-full bg-[#D55737] px-4 py-2 text-md leading-6 text-white shadow-sm hover:bg-[#E3734B]"
            >
                Send Reset Link
            </button>
        </form>
    </div>
</div>
-->

<div *ngIf="step === 1">
    <!-- Paso 1: Enviar correo de recuperación -->
    <h2>Recuperación de Contraseña</h2>
    <p>Introduce tu correo para recibir un enlace de recuperación.</p>
    <input [(ngModel)]="email" placeholder="Correo electrónico" type="email" />
    <button (click)="sendRecoveryEmail()">Enviar correo de recuperación</button>
  </div>
  
  <div *ngIf="step === 2">
    <!-- Paso 2: Verificar el token -->
    <h2>Verificación de Token</h2>
    <p>Introduce el token recibido en tu correo para continuar.</p>
    <input [(ngModel)]="token" placeholder="Token" type="text" />
    <button (click)="validateToken()">Verificar token</button>
  </div>
  
  <div *ngIf="step === 3">
    <!-- Paso 3: Cambiar contraseña -->
    <h2>Cambiar Contraseña</h2>
    <p>Introduce tu nueva contraseña.</p>
    <input [(ngModel)]="newPassword" placeholder="Nueva contraseña" type="password" />
    <button (click)="resetPassword()">Cambiar contraseña</button>
  </div>
  
