<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM5J7cKItcF4yo4B/l8OUgZ7P5hZ9AtmHfeyvRh" crossorigin="anonymous" />

<div class="flex justify-center items-center py-8">
    <div class="p-4 bg-white rounded-lg shadow w-full max-w-md">
      <input
        type="text"
        placeholder="Create a post ..."
        class="w-full p-2 text-gray-700 border border-gray-300 rounded-md focus:ring-1 focus:ring-inset focus:ring-[#E3734B]"
      />
      <div class="mt-6 flex items-center space-x-4">
        <button class="px-2 text-blue-500 hover:text-blue-700">
          <i class="fa-solid fa-camera"></i>
        </button>
        <button class="px-2 text-green-500 hover:text-green-700">
          <i class="fa-solid fa-video"></i>
        </button>
        <button class="px-2 text-pink-500 hover:text-pink-700">
          <i class="fa-solid fa-calendar"></i>
        </button>
        <button class="px-2 text-purple-500 hover:text-purple-700">
          <i class="fa-solid fa-feather"></i>
        </button>
      </div>
    </div>
  </div>