/* Estructura general */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 60px;
    box-sizing: border-box;
  }
  
  /* Footer al final */
  footer {
    background-color: #D55737;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-top: auto; /* Mantiene el footer al final */
  }
  
  footer a {
    color: #ffffff;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #ffae77;
  }
  